In [2]:
import pandas as pd

1. Reading the Rounds2, companies.txt files.

In [3]:
companies=pd.read_csv('companies.txt',sep='\t')
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [4]:
rounds2=pd.read_csv('rounds.csv')
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/�eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÔASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/�novatiff-reklam-ve-tan�t�m-hizm...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [5]:
rounds2['company_permalink'] =rounds2['company_permalink'].str.lower()

2. How many unique companies are present in rounds2?

In [6]:
temp1=pd.DataFrame(rounds2.company_permalink.unique())
temp1

                                                       0
0                                    /organization/-fame
1                                 /organization/-qounter
2                    /organization/-the-one-of-them-inc-
3                                  /organization/0-6-com
4                         /organization/004-technologies
...                                                  ...
66368  /organization/zznode-science-and-technology-co...
66369                          /organization/zzzzapp-com
66370                                /organization/�eron
66371                              /organization/ôasys-2
66372  /organization/�novatiff-reklam-ve-tan�t�m-hizm...

[66373 rows x 1 columns]

In [7]:
companies['permalink'] = companies['permalink'].str.lower()

3. How many unique companies are present in the companies file?

In [8]:
temp2=pd.DataFrame(companies.permalink.unique())
temp2

                                                       0
0                                    /organization/-fame
1                                 /organization/-qounter
2                    /organization/-the-one-of-them-inc-
3                                  /organization/0-6-com
4                         /organization/004-technologies
...                                                  ...
66363  /organization/zznode-science-and-technology-co...
66364                          /organization/zzzzapp-com
66365                               /organization/ãeron
66366                             /organization/ã”asys-2
66367  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

[66368 rows x 1 columns]

4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns
to uppercase.

In [9]:
rounds2['company_permalink'] =rounds2['company_permalink'].str.upper()
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/ORGANIZATION/�ERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÔASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/ORGANIZATION/�NOVATIFF-REKLAM-VE-TAN�T�M-HIZM...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [10]:
companies['permalink'] = companies['permalink'].str.upper()
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

 5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [11]:
set(companies['permalink'].unique()).difference(set(rounds2['company_permalink'].unique()))

{'/ORGANIZATION/10Â°NORTH',
 '/ORGANIZATION/51WOFANG-Æ— Å¿§Æˆ‘Æˆ¿',
 '/ORGANIZATION/ADSLINKEDÂ„¢',
 '/ORGANIZATION/AESTHETIC-EVERYTHINGÂ®-SOCIAL-NETWORK',
 '/ORGANIZATION/AFFLUENT-ATTACHÃ©-CLUB-2',
 '/ORGANIZATION/ALLGÃ¤U-OUTLET',
 '/ORGANIZATION/ASIANSBOOKÂ„¢',
 '/ORGANIZATION/ATÃ¶LYE-GRI',
 '/ORGANIZATION/AXÃ¨GAZ',
 '/ORGANIZATION/BORÃ©AL-BIKES-INCORPORATED',
 '/ORGANIZATION/BRASIL-OZÃ´NIO',
 '/ORGANIZATION/BRICOPRIVÃ©-COM',
 '/ORGANIZATION/BRÄ\x81V',
 '/ORGANIZATION/BÃ¶HNER-EH-GMBH',
 '/ORGANIZATION/CANAL-DA-PEÃ§A',
 '/ORGANIZATION/CAPPTÃº',
 '/ORGANIZATION/CONTRATO-RÃ¡PIDO',
 '/ORGANIZATION/COPÃ©-ACTIVE-LTD',
 '/ORGANIZATION/CRÃ¨ME-CISEAUX',
 '/ORGANIZATION/DESAFÃ\xadO-TÃ¡CTICO',
 '/ORGANIZATION/E-CÃŠBICA',
 '/ORGANIZATION/ENERGYSTONE-GAMES-Ç\x81ΜÇŸ³Æ¸¸Æˆ\x8f',
 '/ORGANIZATION/ETOOL-IOÂ”',
 '/ORGANIZATION/FREEMÅ\x8d',
 '/ORGANIZATION/FRÃ©QUENTIEL',
 '/ORGANIZATION/GESTO-SAÃºDE-E-TECNOLOGIA-3',
 '/ORGANIZATION/GRÃ¡FICA-EN-LÃ\xadNEA',
 '/ORGANIZATION/HUIZUCHE-COM-ÆƑ Ç§ŸÈ½¦',
 '/ORGANIZATION/IGNIA-BIENES-RAÃ\xadCES',
 '/ORGANIZATION/IKIGÃ¼NDE-COM',
 '/ORGANIZATION/INVENO-È‹±Å¨\x81È¯º',
 '/ORGANIZATION/IPROOF---THE-FOUNDATION-FOR-THE-INTERNET-OF-THINGSÂ„¢',
 '/ORGANIZATION/ITÂ€™S-ALL-ABOUT-ME',
 '/ORGANIZATION/JEAN-PÃ¼TZ-PRODUKTE',
 '/ORGANIZATION/JIWU-Å\x90‰Å±‹Ç½‘',
 '/ORGANIZATION/KNOWÂ€™NÂ€™ACT',
 '/ORGANIZATION/KÃ–Ã–K',
 '/ORGANIZATION/LAGOU-COM-Æ‹‰Å‹¾Ç½‘',
 '/ORGANIZATION/LAWPÃ DÃ\xad',
 '/ORGANIZATION/MAGNET-TECH-Ç£\x81ÇŸ³Ç§‘ÆŠ€',
 '/ORGANIZATION/MERCADO-ELECTRÃ´NICO',
 '/ORGANIZATION/MING-YAZÄ±LÄ±M',
 '/ORGANIZATION/MONNIER-FRÃ¨RES',
 '/ORGANIZATION/MÃ©DICA-SANTA-CARMEN-2',
 '/ORGANIZATION/PATROFÄ°N',
 '/ORGANIZATION/PRODÄ›TI-CZ',
 '/ORGANIZATION/PRZEÅ›WIETL-PL',
 '/ORGANIZATION/SALÃ£O-VIP',
 '/ORGANIZATION/SATÃ©LITE-DISTRIBUIDORA-DE-PETRÃ³LEO',
 '/ORGANIZATION/SKARÃ¸-IS',
 '/ORGANIZATION/SOCIÃ©TÃ©-INTERNATIONALE-DE-PLANTATIONS-D-HÃ©VÃ©AS',
 '/ORGANIZATION/SÃ³LFAR-STUDIOS',
 '/ORGANIZATION/TALENTSIGNEDÂ„¢',
 '/ORGANIZATION/THE-VISION-LAB-Â®',
 '/ORGANIZATION/THÁº¿-GIÁ»›I-DI-Ä\x90Á»™NG',
 '/ORGANIZATION/TIPCAT-INTERACTIVE-Æ²™ÈˆŸÄ¿¡Æ\x81¯Ç§‘ÆŠ€',
 '/ORGANIZATION/TÃ¡XIMO',
 '/ORGANIZATION/TÃ\xadO-CONEJO',
 '/ORGANIZATION/VACATION-BNBÂ„¢',
 '/ORGANIZATION/VÃ¡-DE-TÃ¡XI',
 '/ORGANIZATION/VÃ¼NDER-SPORTS-NETWORK',
 '/ORGANIZATION/WEICHE-TECH-Å–‚È½¦Ç§‘ÆŠ€',
 '/ORGANIZATION/WHITEÂ€™S-HOLDINGS',
 '/ORGANIZATION/WHODATÂ€™S-SPACES',
 '/ORGANIZATION/ZENGAME-Ç¦…Æ¸¸Ç§‘ÆŠ€',
 '/ORGANIZATION/Ã\x81ERON',
 '/ORGANIZATION/Ã”ASYS-2',
 '/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-HIZMETLERI-TIC'}

6. Merge the two data frames so that all variables (columns) in the company's frame are added
to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
are present in master_frame ?

In [12]:
master_frame = pd.merge(rounds2,companies, how ='left', left_on ='company_permalink', right_on ='permalink')
master_frame

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/ORGANIZATION/�ERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/ORGANIZATION/ÔASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/ORGANIZATION/�NOVATIFF-REKLAM-VE-TAN�T�M-HIZM...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

How many observations
are present in master_frame ?

In [14]:
print("number of observations present in master_frame- ",master_frame.shape[0])

number of observations present in master_frame-  114949

7. Write the code to drop the redundant column ‘'company_permalink' from the
master_dataframe.

In [15]:
master_frame.drop(columns='company_permalink',inplace=True)
master_frame

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
unnecessary columns.

In [16]:
percent_missing = master_frame.isnull().sum() * 100 / len(master_frame)
missing_value_df = pd.DataFrame({'percent_missing (%)': percent_missing})

missing_value_df.sort_values('percent_missing (%)',ascending=False)

                         percent_missing (%)
funding_round_code                 72.909725
founded_at                         17.887933
raised_amount_usd                  17.390321
state_code                          9.549452
region                              8.873500
city                                8.870891
country_code                        7.578143
homepage_url                        5.393696
category_list                       3.010900
name                                0.065246
permalink                           0.064376
status                              0.064376
funding_round_permalink             0.000000
funding_round_type                  0.000000
funded_at                           0.000000

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
‘funding_round_type’ across different funding round categories..

In [17]:
table=pd.pivot_table(master_frame,index=['funding_round_type','status'],values='raised_amount_usd',aggfunc=['mean','median'])
table

                                             mean            median
                                raised_amount_usd raised_amount_usd
funding_round_type    status
angel                 acquired       1.087982e+06          665750.0
                      closed         7.940892e+05          330000.0
                      ipo            1.689660e+06          625000.0
                      operating      9.680663e+05          400000.0
convertible_note      acquired       1.083682e+06          500000.0
                      closed         9.633743e+05          242500.0
                      ipo            1.866318e+07         2778771.0
                      operating      1.154338e+06          250000.0
debt_financing        acquired       1.477531e+07         2000000.0
                      closed         6.368645e+06         1000000.0
                      ipo            1.083672e+08         4702815.0
                      operating      1.036419e+07         1000000.0
equity_crowdfunding   acquired       1.628663e+06          866364.0
                      closed         8.666353e+05          577250.0
                      ipo            1.000000e+05          100000.0
                      operating      5.147500e+05           81088.0
grant                 acquired       2.578634e+06          500000.0
                      closed         6.185353e+06           75321.0
                      ipo            1.392027e+07         3100000.0
                      operating      3.738766e+06          199130.5
non_equity_assistance closed         5.252674e+05          100000.0
                      ipo            1.000000e+06         1000000.0
                      operating      3.939028e+05           49843.0
post_ipo_debt         acquired       1.574312e+08        22375000.0
                      closed         1.055691e+08         7498349.0
                      ipo            1.783444e+08        20000000.0
                      operating      2.409384e+06         2409383.5
post_ipo_equity       acquired       2.847588e+08         7700000.0
                      closed         6.202251e+07        19200000.0
                      ipo            5.221855e+07        12000000.0
                      operating      4.298934e+08        11750000.0
private_equity        acquired       7.553115e+07        30000000.0
                      closed         4.206062e+07        10300000.0
                      ipo            1.010580e+08        25059998.0
                      operating      7.108897e+07        20000000.0
product_crowdfunding  acquired       2.487535e+06          846675.0
                      closed         3.740273e+05           47500.0
                      ipo            2.669541e+06         2500000.0
                      operating      1.386083e+06          190000.0
secondary_market      acquired       6.766238e+06          700000.0
                      closed         3.013447e+06         3671894.5
                      ipo            1.975445e+08        82900000.0
                      operating      6.862803e+07        60000000.0
seed                  acquired       9.418108e+05          602500.0
                      closed         4.987549e+05          150000.0
                      ipo            1.461002e+06          964000.0
                      operating      7.253155e+05          275000.0
undisclosed           acquired       1.799315e+07         4600000.0
                      closed         2.494340e+07         2300000.0
                      ipo            3.145825e+08        13962782.0
                      operating      8.403116e+06          806993.0
venture               acquired       1.260304e+07         7500000.0
                      closed         9.840376e+06         4590000.0
                      ipo            2.859097e+07        10541000.0
                      operating      1.062897e+07         4300000.0

10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
between 4 Millions to 15 Millions.

In [29]:
df_for_raised_amount_usd_between_4m_15m=master_frame[master_frame['raised_amount_usd'].between(4000000,15000000)]
df_for_raised_amount_usd_between_4m_15m

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,Internet Marketing
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,Apps
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013,Education
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114921,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998,Biotechnology
114922,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998,Biotechnology
114930,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994,Biotechnology
114931,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994,Biotechnology
114936,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN,Biotechnology

11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [19]:
loc= master_frame.loc[master_frame.funding_round_type=="venture"]
loc1=loc.groupby(by='country_code')['raised_amount_usd'].sum().to_frame()
loc1.sort_values('raised_amount_usd',ascending=False).head(9)

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.241142e+09
ISR                6.907515e+09
DEU                6.345560e+09
JPN                3.363677e+09

12. Create the ‘main_category’ column by extracting the main sector using the column
‘category_list’.
Hint - Use the Lambda function or string function

In [25]:
df_split = master_frame.category_list.str.split(pat='|',expand=True)
master_frame['main_category'] =df_split.loc[:,0]
master_frame

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical
column as follow
a) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC

In [32]:
list_of=[]
def category(p):
    A="Type A"
    B="Type B"
    C="Type C"
    for i in p:
        if i < 5000000:
            list_of.append(A)
        elif i >=5000000 and i < 7000000:
            list_of.append(B)
        else:
            list_of.append(C)
category(master_frame.raised_amount_usd)

In [34]:
master_frame['cat']=list_of
master_frame

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category,cat
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Type C
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,Type C
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,Type A
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps,Type A
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web,Type A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising,Type A
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,Advertising,Type A
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Type C
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Type A
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Type A

In [36]:
m1=master_frame.groupby(by='funding_round_type')['raised_amount_usd'].sum().to_frame()
m4=m1.sort_values('raised_amount_usd',ascending=False).head(10)
m4
m2=master_frame.groupby(by='country_code')['raised_amount_usd'].sum().to_frame()
m3=m2.sort_values('raised_amount_usd',ascending=False).head(10)
m3

              raised_amount_usd
country_code
USA                6.694814e+11
CHN                7.570357e+10
GBR                3.276689e+10
IND                2.768634e+10
CAN                1.842468e+10
RUS                1.127912e+10
DEU                1.001634e+10
ISR                9.713885e+09
FRA                9.038567e+09
NLD                5.966633e+09

As it can be seen from the above two codes, these were the top 10 investment types and the top 10 countries.
Since venture type is having the most investment and in Q.11, USA is having the highest investment in venture type, 
it will be best to invest in Venture types in USA as it is the best country and most suitable investment type on the basis
of countries where most investors were investing